body {
  font-family: 'Montserrat', sans-serif;
  background-color: #dde1e7;
  color: #333;
}

.crd {
  background-color: #dde1e7;
  box-shadow: -5px -5px 7px #ffffff73, 5px 5px 7px rgba($color: #000000, $alpha: .4);
  border-radius: 20px;
  transition: all .3s;

  &__icon {
    text-align: center;
    line-height: 150px;
    font-size: 70px;

    & > i {
      color: #6d91d2;
    }
  }

  &__tl {
    font-size: 24px;
    position: relative;

    &::before {
      margin-bottom: 16px;
      width: 70px;
      height: 70px;
      border-radius: 100px;
      font-family: FontAwesome;
      display: block;
      position: relative;
      left: 0;
      top: 0;
      color: #6d91d2;
      font-size: 40px;
      line-height: 70px;
      text-align: center;
      box-shadow: -5px -5px 7px #ffffff73, 5px 5px 7px rgba($color: #000000, $alpha: .4);
    }
  }

  &--reverse {
    box-shadow: inset -5px -5px 7px #ffffff73, inset 5px 5px 7px rgba($color: #000000, $alpha: .4);
  }

  &--lg {
    padding: 30px;
  }

  &--training {
    padding: 10px 15px;
  }
}


$icons: (
  'bandcamp': "\f2d5",
  'meetup': "\f2e0",
  'freecamp': '\f2c5',
  'imdb': '\f2d8'
);

@each $name, $glyph in $icons {
  .crd__tl--#{$name}:before {
    content: $glyph;
  }
}

.btn {
  border-radius: 100px;
  color: #6d91d2;
  font-weight: 600;
  background-color: #dde1e7;
  box-shadow: -5px -5px 7px #ffffffb9, 5px 5px 7px rgba($color: #000000, $alpha: .4);
  transition: box-shadow 0.3s;

  &:hover {
    color: #6d91d2;
    box-shadow: inset -5px -5px 7px #ffffffb9, inset 5px 5px 7px rgba($color: #000000, $alpha: .4);
  }
  &:focus {
    outline: none;
    box-shadow: none;
    box-shadow: inset -5px -5px 7px #ffffffb9, inset 5px 5px 7px rgba($color: #000000, $alpha: .4);
  }

  &--has-ico {

    & > i {
      margin-left: 6px;
    }
  }

  &--block {
    display: block;
  }

  &--link {
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }
}

.user-crd {
  text-align: center;

  &__cnt {
    margin: 0;
    font-size: 14px;
  }

  &__tl {

    &--sm {
      margin: 0;
      font-size: 18px;
    }
  }

  &__img {
    margin: 0 auto 25px;
    padding: 8px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(225deg, #c7cbd0, #ecf1f7);
    box-shadow:  -10px 10px 20px #a6a9ad, 
                 10px -10px 20px #ffffff;
    

    &--flat {
      width: 80px;
      height: 80px;
      margin: 0 18px 0 0;
      padding: 0;
      background: none;
    }

    &--sm {
      width: 50px;
      height: 50px;
    }
  }

  &__profile {
    width: 100%;
    border-radius: 100px;

    &--inline {
      width: 80px;
      height: 80px;
    }

    &--sm {
      width: 50px;
      height: 50px;
    }
  }

  &--inline {
    display: flex;
    padding: 15px;
    background-color: #dde1e7;
    box-shadow: -5px -5px 7px #ffffff73, 5px 5px 7px rgba($color: #000000, $alpha: .4);
    border-radius: 10px;
  }

  &--wide {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
  }
}


.footer {
  padding-bottom: 20px;

  & a + a {
    margin: 0 10px;
  }
}

.navbar {
  color: #6d91d2;
  background-color: #dde1e7;
}